.MMM-MovieListings .top {
  vertical-align: top;
}

.MMM-MovieListings .marginTop {
  margin-top: 10px;
}

.MMM-MovieListings .xsMarginTop {
  margin-top: 3px;
}

.MMM-MovieListings .marginRight {
  padding-right: 5px;
}

.MMM-MovieListings .marginLeft {
  padding-left: 5px;
}